<div class="post-footer">


  <div class="post-actions" *ngIf="post">

    <div class="user-interaction"  *ngIf="isDetail" matRipple>
      <div class="button-action " [routerLink]="['/home']"  >
        <i class='bx bxs-chevron-left detail' ></i>
       </div>
    </div>


    <div class="user-interaction" matRipple>
      <div class="button-action" (click)="toggleCommentPanel()">
        <i class='bx bx-message-alt'
           [ngClass]=" commentPanelOpened || userCommented? 'bxs-message-alt' : ' bx-message-alt'  "></i>
        <small class="icon-count">{{totalComments > 0 ? totalComments : ''}}</small>
      </div>
    </div>

    <div class="user-interaction" matRipple>
      <div class="button-action" (click)="setFavorite(post)">
        <i class='bx ' [ngClass]=" userFavorited ? 'bxs-heart' : 'bx-heart'  "></i>
        <small *ngIf="totalFavorites>0" class="icon-count">{{totalFavorites}}</small>
      </div>
    </div>

    <div class="user-interaction" matRipple *ngIf=" !post?.repost">
      <div class="button-action "  (click)=" repostPanelOpened = !repostPanelOpened">
        <i class='bx bx-repost'></i>
        <small *ngIf="totalRepost>0" class="icon-count" >{{totalRepost}}</small>
      </div>
    </div>




    <div class="user-interaction" matRipple>
      <div class="button-action "   (click)="createSaved(post)">
        <i class='bx bx-bookmark' [ngClass]="this.existsSaved ? 'bxs-bookmark' : 'bx-bookmark' " ></i>

      </div>
    </div>

    <div class="user-interaction" matRipple *ngIf="post?.uid != loggedUId">


      <div class="button-action "  [routerLink]="[this.messageRoute, post.uid]">
        <i class='bx bx-envelope' ></i>
      </div>


    </div>


    <div class="user-interaction"  matRipple *ngIf="!isDetail">
      <div class="button-action " [routerLink]="['/home/post', post?.id, index]"  >
        <i class='bx bxs-chevron-right detail'></i>

      </div>
    </div>


  </div>

  <div class="expansion-comment">
    <mat-expansion-panel hideToggle [expanded]="commentPanelOpened" (afterExpand)="onExpansionCommentOpen()"
                         (afterCollapse)="onExpansionClose()">
       <textarea cdkTextareaAutosize [(ngModel)]="commentText" placeholder="Deixe seu recado!"
                 maxlength="300"></textarea>
      <button (click)="createComment()" mat-flat-button class="form-button form-button-post">
        comentar
      </button>
    </mat-expansion-panel>


    <mat-expansion-panel hideToggle [expanded]="repostPanelOpened" (afterExpand)="onExpansionRepostOpen()"
                         (afterCollapse)="onExpansionRepostClose()">
       <textarea cdkTextareaAutosize [(ngModel)]="repostText" placeholder="Comentar o reposte?"
                 maxlength="300"></textarea>
      <button (click)="repost(post?.id)" mat-flat-button class="form-button form-button-post">
        comentar
      </button>
    </mat-expansion-panel>
  </div>
</div>
