.component {
  margin: 5px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;

}
div {
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: none!important;
}


