.component {
  position: relative;
  z-index: 0;
}

.textarea {
  width: 100%;
  min-height: 40px;
  padding: 5px;
  box-sizing: border-box;
  border-width: 0;
  outline: none;

  background-color: #723753 !important;
  font-size: 16px !important;
  resize: none;
  color: #f6e1cd !important;
  overflow: hidden;
}

.actions {
  display: flex;
  align-items: center;
}

$base-color: whitesmoke;
i {
  font-size: 22px;
  color: $base-color;
  margin: 3px;
  cursor: pointer;
}

.total-text {
  color: $base-color;
  margin: 3px;
}

.total-text-red {
  color: #ff7777 !important;
}

.emojis {
  top: -1000px;
  left: -100px;
  position: absolute;
  z-index: 10000!important;
  background-color: transparent!important;
}
.bg-color-transparent  {
  background-color: transparent!important;
}
.no-padding  {
  padding: 0 !important;
}
