.textarea {
  width: 100%;
  min-height: 27px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-width: 0;
  outline: none;
  border-radius: 4px;
  background-color: #723753!important;
  font-size: 16px!important;
  resize: none;
  color: #f6e1cd!important;
  overflow: hidden;
  //margin-top: 10px;
}
