.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.gallery > img {
  width: 0;
  height: 0;
  min-height: 40px;
  min-width: 40px;
  object-fit: cover;
  cursor: pointer;
  margin: 3.5px;
  //filter: grayscale(80%);
  //transition: .35s linear;
  border-radius: 6px;
}

.gallery img:hover {
  //filter: grayscale(0);
  //width: calc(40vh * var(--f) / var(--n));
  // height: calc(40vw * var(--f) / var(--m));
}

.mat-tab-image {
  width: 0;
  height: 0;
  min-height: 200px;
  min-width: 100%;
  object-fit: cover;
}

.mat-tab-div {
  width: 100%;
  max-width: 100%;
  min-width: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  //border-radius: 4px;
  //margin: 4px;
  overflow: hidden;

}

.mat-tab-div-mobile {
  height: 200px;
}

.mat-tab-div-mobile:active {
  filter: grayscale(.5);
  transform: scale(.992);
  opacity: 0.9;
}

.mat-tab-div-desktop {
  height: 350px;
}


.one-image {
  width: 100%;

  //border-radius: 5px;
}

.one-image:active {
  filter: grayscale(.5);
  transform: scale(.992);
  opacity: 0.9;
}
