.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.gallery> div > img {
  width: 0;
  height: 0;
  min-height: 40px;
  min-width: 40px;
  object-fit: cover;
  cursor: pointer;
  margin: 3.5px;
  border-radius: 6px;
}

.gallery img:hover {
}

.mat-tab-image {
  width: 0;
  height: 0;
  min-height: 200px;
  min-width: 100%;
  object-fit: cover;
}
.mat-tab-div-relative {
  position: relative;
}
.mat-tab-div {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}



.mat-tab-div-mobile {
  height: 200px;
}



.mat-tab-div-desktop {
  height: 350px;
}


.one-image {
  width: 100%;
}

.one-image-comments {
  width: 90%;
}

.one-image-album {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}


.album-chip-mat-tab {
  position: absolute;
  top: calc(100% - 40px);
  bottom: 30px;
  z-index: 100;
}
.album-chip {
  position: absolute;
  top: calc(100% - 40px);
  bottom: 10px;
}
mat-chip {
  bottom: 0 ;
  transform: scale(1);
  background-color: rgba(37, 27, 16, 0.49) !important;
  color: white !important;
  font-weight: bold !important;
  -webkit-box-shadow: 10px 9px 5px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 9px 5px -9px rgba(0,0,0,0.75);
  box-shadow: 10px 9px 5px -9px rgba(0,0,0,0.75);
}
