<mat-toolbar class="home-toolbar">
  <mat-icon color="#ccc" (click)="toggleSideNav()">menu</mat-icon>
  <button [routerLink]="['/home']" mat-button color="#ccc" class="button-items-align-center">
    <i class='bx bx-world'></i> {{homeService.languageService.getText('feed')}}
  </button>
  <button [routerLink]="['/home/following']" mat-button color="#ccc" class="button-items-align-center">
    <i class='bx bx-run'></i> {{homeService.languageService.getText('seguindo')}}
  </button>
  <button (click)="toggleSearchUser()" mat-button color="#ccc" class="button-items-align-center">
    <i class='bx bx-search-alt'></i>
    {{homeService.languageService.getText('pesquisar')}}
  </button>
  <mat-icon [matMenuTriggerFor]="menu" color="#ccc">more_vert</mat-icon>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon class="icon-font-mobile">logout</mat-icon>
      {{homeService.languageService.getText('logout')}}

    </button>
    <button mat-menu-item [routerLink]="['profile', homeService.auth.user?.uid]">
      <mat-icon class="icon-font-mobile"> account_circle</mat-icon>
      {{homeService.languageService.getText('perfil')}}

    </button>
  </mat-menu>

</mat-toolbar>
