<mat-toolbar class="home-toolbar" [@openCloseActions]=" homeService.sideNavOpened ? 'open' : 'closed'">

  <mat-icon class="toggle-sn" color="#ccc" (click)="toggleSideNav()">menu</mat-icon>

  <mat-tab-group class="mat-tab-header" [selectedIndex]="tabSelectedIndex">
    <mat-tab>
      <div class="mat-tab-div r">
        <button [ngClass]="homeService.checkRoute('home')? 'route' : 'no-route' "  (click)="routeToHome()" mat-button class="button-items-align-center">
          <i class='bx bx-world' ></i> {{homeService.languageService.getText('feed')}}
        </button>
        <button [ngClass]="homeService.checkRoute('following')? 'route' : 'no-route' " [routerLink]="['/home/following']" mat-button color="#ccc" class="button-items-align-center">
          <i class='bx bx-run'></i> {{homeService.languageService.getText('seguindo')}}
        </button>
        <button  [ngClass]="homeService.checkRoute('search')? 'route' : 'no-route' " (click)="toggleSearchUser(1)" mat-button color="#ccc" class="button-items-align-center">
          <i class='bx bx-search-alt'></i>
          {{homeService.languageService.getText('pesquisar')}}
        </button>
      </div>
    </mat-tab>
    <mat-tab>
      <div class="mat-tab-div  mat-tab-div-padding">
        <mat-icon (click)="toggleSearchUser(0)" color="#ccc">arrow_back</mat-icon>
        <input class="input-search" matInput
               type="text"
               [(ngModel)]="searchText" [placeholder]="homeService.languageService.getText('pesquisarporusuario')">
        <mat-icon (click)="searchUser()" color="#ccc">search</mat-icon>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-toolbar>
