<form name="login"
      #formDirective="ngForm"
      class="login-form"
      [formGroup]="form"
      (ngSubmit)="submit(formDirective)">

  <mat-form-field
    class="custom-mat-form-field mat-form-field-W100"
    appearance="fill"
    floatLabel="auto">
    <input matInput
           class="login-input"
           placeholder="email"
           formControlName="email"
           type="text" required>

  </mat-form-field>
      <mat-error *ngIf="formSubmitted && email?.value?.trim().length ==0">
        {{_loginService.languageService.getWord('qualseuemail')}}
      </mat-error>
      <mat-error *ngIf="formSubmitted &&  email?.value?.trim().length > 0 && email?.getError('email')">
        {{_loginService.languageService.getWord('digitoualgoerrado')}}
      </mat-error>

  <mat-form-field class="custom-mat-form-field mat-form-field-W100"
                  appearance="fill"
                  floatLabel="auto">
    <input matInput
           name="current-password"
           class="login-input"
           [placeholder]="_loginService.languageService.getWord('senha')"
           formControlName="password"
           type="password" required>
    <mat-error *ngIf="formSubmitted && password?.value?.trim().length ==0">
      {{_loginService.languageService.getWord('naoesquecasenha')}}
    </mat-error>
  </mat-form-field>

  <button class="login-button" type="submit" matRipple>
    {{_loginService.languageService.getWord('logar')}}

  </button>
</form>

