.images-upload-grid {
  margin-top: 3px;
  padding: 3px;
  background-color: #622947;
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.image-grid-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  margin: 4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-grid-item-size-mobile {
  width: 50px;
  height: 50px;
}

.image-grid-item-size {
  width: 60px;
  height: 60px;
}

.image-grid-item-delete-mobile {
  color: #481a34;
  left: 25px;

}

.image-grid-item-delete-desktop {
  left: 30px;
}

.remove {
  width: 50px;
  height: 50px;
}


