

.image-grid-item-size {
  width: 60px;
  height: 60px;
}

.image-grid-item-delete-mobile {
  color: #481a34;
  left: 25px;

}

.image-grid-item-delete-desktop {
  left: 30px;
}

.remove {
  width: 50px;
  height: 50px;
}


