.form-button {
  background-color: #622947;
  color: whitesmoke!important;
  width: 46%;
  border-width: 0;

}

.actions {
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.component {
  padding: 10px;
}

.component > div {
  text-align: center;
  color: white;
  margin-bottom: 10px;
}

h3{
  text-align: center;
  color: white;
}
