<mat-divider></mat-divider>
<div class="timeline-post "
     *ngIf="post"
     [ngClass]="isRepost && !post?.deleted ? 'timeline-post-background-repost' : post?.deleted && post.uid != timelineService.auth.user?.uid ? 'disabled-post': 'timeline-post-background' ">
  <small class="post-deleted" *ngIf="post?.deleted">
    {{timelineService.languageService.getText('postagemdeletada')}}
  </small>
  <app-post-header [isDetail]="isDetail"
                   [loggedUId]="loggedUId"
                   [isRepost]="isRepost"
                   [post]="post"
                   [index]="index"></app-post-header>
  <app-post-body [isDetail]="isDetail" [post]="post"
                 [isRepost]="isRepost"
                 [index]="index"
                 [loggedUId]="loggedUId"></app-post-body>


  <div *ngIf="post?.repost" class="repost">
    <ng-container *ngIf="!post.repostDeleted">
      <app-timeline-post
        [isRepost]="true"
        [index]="index"
        [post]="post.repost">
      </app-timeline-post>
    </ng-container>
    <ng-container *ngIf="post.repostDeleted">
      <div>

        <h2>
          {{timelineService.languageService.getText('postagemdeletada')}}</h2>
      </div>
    </ng-container>
  </div>

  <app-post-footer *ngIf="!isRepost"
                   [totalComments]="totalComments"
                   [userCommented]="userCommented"
                   [loggedUId]="loggedUId"
                   [isDetail]="isDetail"
                   [post]="post"></app-post-footer>


  <app-post-comments
    (commentChanged)="commentChanged($event)"
    [loggedUId]="loggedUId"
    [isDetail]="isDetail"
    [postId]="post?.id"
    [comments]="comments"></app-post-comments>


