<div class="messages-component">
  <div class="post-avatar">
    <!--    <img class="post-avatar-image" alt="image profile" [src]="guest?.photoURL">-->
    <h3>{{group?.name}}</h3>
    <h4>{{group?.description}}</h4>

  </div>
  <div class="messages-body" *ngFor="let item of groups|async">
    <app-group-room-item [loggedUid]="hostId" [item]="item"></app-group-room-item>
  </div>
</div>
<div #footer></div>
<button (click)="openBottomSheet()" mat-mini-fab color="primary" class="icon-font-mobile-add">
  <mat-icon mat-list-icon>add
  </mat-icon>
</button>
