<div [ngClass]="isMobile? 'panel-mobile': ''"></div>

<app-post-form *ngIf="!isMobile"></app-post-form>
<div *ngIf="newPostItems.length>0" class="show-new-post-section">
  <a class="show-post-button" mat-button
     (click)="showNewPost()"> {{ timelineService.languageService.getText('mostrarnovaspostagens')}}
    ({{newPostItems.length}})</a>
</div>

<div *ngIf="isSearchUser && postItems.length==0" class="show-new-post-section">
  <h3>
    {{ replaceTranslate()  }}
  </h3>
</div>

<div *ngIf="isSearchUser && postItems.length>0">
  <h3>
    {{ timelineService.languageService.getText('pesquisandopor') + ' : ' + searchText }}
  </h3>
</div>

<div *ngIf="isFollowing && postItems.length == 0 && !searching ">
  <h3>
    {{ timelineService.languageService.getText('seguindoninguem') }}
  </h3>
</div>

<div #posts class="posts"
     [ngClass]="isSearchUser ? 'post-colum' : 'post-colum-reverse'"
     *ngIf="postItems.length > 0">

  <ng-container *ngFor="let item of postItems; let i = index;">
    <a id="p{{i}}"></a>
    <app-timeline-post
      *ngIf="!item.hasImages || (!(item.hasImages && item?.images?.length==0) && (item.hasImages && item?.images)) "
      [index]="i" [post]="item">
    </app-timeline-post>
  </ng-container>

</div>


<app-timeline-floating-menu></app-timeline-floating-menu>

<div class="waiting-div" *ngIf="searching">
  <i class='bx bxl-firebase bx-flashing '></i>
</div>
