<div class="login-component">
  <div class="login-content">
    <mat-tab-group class="mat-tab-header"
                   [selectedIndex]="selectedIndex"
                   [preserveContent]="false"  animationDuration="200" >
      <mat-tab label="First">
        <app-login-sign-in></app-login-sign-in>
      </mat-tab>
      <mat-tab label="Second">
        <app-login-create-user></app-login-create-user>
      </mat-tab>
    </mat-tab-group>
    <div class="login-actions">
      <button mat-button *ngIf="selectedIndex==0" class=" button-items-align-center login-a signInUp" (click)="selectedIndex=1">
        {{loginService.languageService.getText('registrese')}}
    <i class='bx bxs-right-arrow'></i>
      </button>
      <button   mat-button *ngIf="selectedIndex==1"  class=" button-items-align-center login-a signInUp" (click)="selectedIndex=0">
        <i class='bx bxs-left-arrow' ></i>   {{loginService.languageService.getText('logar')}}
      </button>
    </div>
  </div>
</div>
