.menu-avatar-image {
  width: 50px;
  border-radius: 25px;
  margin-top: 15px;
  border: solid 2px #88456b;
}

.post-avatar-image {
  height: 100px;
  border-radius: 50px;
}

.post-header-avatar-image {
  height: 40px;
  border-radius: 20px;
}
