.ImageProfileDialogComponent {
  mat-dialog-content {
    background-color: #481a34 !important;
  }

  .mat-mdc-dialog-container .mdc-dialog__surface {
    background-color: #481a34 !important;
  }
}


.ErrorMessageDialogComponent {
  .mat-mdc-dialog-container .mdc-dialog__surface {
    background-color: #481a34 !important;
    color: whitesmoke;
  }

  mat-dialog-content {
    background-color: #481a34 !important;
    color: whitesmoke!important;
  }
}
