mat-nav-list{
  padding-top: 0!important;
}

mat-sidenav-container {
  background-color: #481a34!important;
}

mat-sidenav {
  background-color: #481a34!important;
  border-width: 0!important;
}
mat-sidenav-content {
  background-color: #481a34!important;
}

.mdc-list-item {
  padding-left: 9px!important;
  padding-right: 0px!important;;
  color: whitesmoke!important;
 }
.mdc-list-item:last-child {
  padding-left: 5px!important;
}


