.post-form-actions {
  width: 100%;
  display: flex;
  justify-content: space-between;

}
.form-button {
  background-color: #622947;
  color: whitesmoke!important;

}
.form-button-post-dialog {
  width: 100%;
}
