.post-comments {
  //margin-top: 5px;
  background-color: #481a34;
  padding: 8px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  margin: 5px;

  justify-content: space-around;
}


.user-avatar {
  width: 20px;
}

.post-avatar-image {
  height: 26px;
  border-radius: 13px;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
}

.user-name {
  margin-left: 10px;
  color: #d5d5d5;
}

.comment-body {
  margin-top: 5px;
  padding: 3px;
  color: #b9b9b9;
  overflow: hidden;
  width: calc(100% - 39px);

  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
}

.comment-favorite {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  min-width: 39px;
  width: 39px;
  flex-direction: column;

  color: #cccccc;
}

.comment-user-info {
  display: flex;
}

.comment-action-icon {
  display: flex;
  align-items: center;
 font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.comment-items {
  width: 95%;
}

.icon-delete {
  color: #a41a1a;
}

.favorite-item {
  width: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}

.favorite-item > small {
  height: 20px;
  min-height: 20px;
}

mat-expansion-panel {
  display: flex;
  justify-content: space-around;
  background-color: #723753;

}

//
//button {
//  color: #cccccc!important;
//  background-color: #88456b!important;
//}
.panel-delete {
  width: 100%;
  background-color: rgba(208, 57, 57, 0.26) !important;
  display: flex;
  justify-content: space-evenly;
}

.button-warning {
  color: #d5d5d5 !important;
}

.button-expansion {
  color: #cccccc;
}
