<div class="post-comments">
  <div class="comment-items">
    <div class="comment-header">
      <div class="comment-user-info">

        <div class="user-avatar">
          <div class="comment-avatar">
            <img class="post-avatar-image" alt="image profile" [src]="item?.photoURL">
          </div>
        </div>
        <div class="user-name">
          {{item?.displayName}}
        </div>
      </div>
    </div>
    <div class="comment-body">
      {{ item?.commentText}}
    </div>
  </div>
  <div class="comment-favorite">
    <div class="favorite-item">
      <mat-icon (click)="favoriteComment()" class="comment-action-icon">
        {{totalFavoritesByUser > 0 ? 'favorite' : 'favorite_outlined' }}  </mat-icon>
      <small class="icon-count">{{totalFavorites > 0 ? totalFavorites : ''}}</small>
    </div>
    <mat-icon class="comment-action-icon " (click)="commentPanelOpened2 = !commentPanelOpened2">
      disabled_by_default_outlined
    </mat-icon>
  </div>


</div>


<mat-expansion-panel class="panel-delete" [expanded]="commentPanelOpened2" (afterCollapse)="onPanelCollapse()">
  <button  class="button-expansion button-warning"  (click)="openClosePanel()" mat-button>
    cancelar
  </button>
  <button  class="button-expansion button-warning" (click)="deleteComment()" mat-button>
    deletar
  </button>
</mat-expansion-panel>
