<ng-container *ngIf="post">
  <div class="post-body" [ngClass]="isRepost ? 'post-body-background-repost' : '' ">
    <ng-container *ngIf="post?.text">
      <div class="post-text-edit">

        ddddd
        <div class="post-text" [innerHTML]="this.html" ></div>
      </div>
    </ng-container>
    <ng-container *ngIf="post?.hasImages &&  !post?.images">
      <div class="loading-image">
        <i class='bx bx-loader-alt bx-flip-horizontal bx-spin'></i>
      </div>
    </ng-container>

    <mat-expansion-panel
      hideToggle
      [expanded]="postPanelOpened && !isRepost"
      (afterExpand)="onExpansionPostOpen()"
      (afterCollapse)="onExpansionPostClose()">


      <div class="textarea"  #postTextElement  [contentEditable]="true" [innerHTML]="postText"  >

      </div>


<!--       <textarea cdkTextareaAutosize [(ngModel)]="postText"-->
<!--                 maxlength="300"></textarea>-->


      <div class="panel-post-actions">
        <button (click)="togglePostPanel()" mat-button class="form-button form-button-post">
          cancelar
        </button>
        <div></div>
        <button (click)="editPost()" mat-button class="form-button form-button-post">
          editar
        </button>
      </div>
    </mat-expansion-panel>
  </div>

</ng-container>
<mat-expansion-panel class="panel-delete"
                     hideToggle
                     [expanded]="deletePanelOpened  && !isRepost"
                     (afterExpand)="onExpansionDeleteOpen()">

  <button (click)="toggleDeletePanel()" class="button-expansion button-warning" mat-button>
    cancelar
  </button>
  <button class="button-expansion button-warning" (click)="deletePost()" mat-button>
    deletar?
  </button>

</mat-expansion-panel>

<ng-container *ngIf="post?.repost">
  <div class="repost">
    <ng-container *ngIf="!post.repostDeleted">
      <app-timeline-post
        [isRepost]="true"
        [index]="index"
        [post]="post.repost">
      </app-timeline-post>
    </ng-container>
    <ng-container *ngIf="post.repostDeleted">
      <div>
        <h2>{{timelineService.languageService.getText('postagemdeletada')}}</h2>
      </div>
    </ng-container>
  </div>
</ng-container>


<div [style]="isDetail? 'margin-top:5px': ''"></div>


<ng-container *ngIf="!isDetail">
  <app-post-images-grid
    [isComment]="isComment"
    [post]="post"
    [postId]="post?.id"
    [postIndex]="index"
    [images]="post?.images"></app-post-images-grid>
</ng-container>

<ng-container *ngIf="isDetail">
  <div class="image-details">
    <img (click)="showImageDialog(img?.imageURL)" *ngFor="let img of post?.images; let i=index"
         [src]="img?.imageURL"
         class="d-block w-100" alt="...">
  </div>
</ng-container>
