textarea {
  width: 100%;
  min-height: 90px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-width: 0;
  outline: none;
  border-radius: 4px;
  background-color: #723753;
  font-size: 16px;
  resize: none;
  color: #f6e1cd;
  //margin-left: 5px;
  //margin-right: 5px;
}

mat-expansion-panel {
  background-color: #723753;

}

.post-body {
  font-weight: normal;
  font-size: 15px;
  padding: 0 7px;
  color: #d5d5d5;
}

.post-body-background {
  background-color: #622947;
}

.post-body-background-repost {
  background-color: transparent;
}

.post-text-edit {
  //width: 100%;
  //display: flex;
  //flex-direction: row;
  //padding-left: 5px;
}



.post-text {
  //margin-top: 5px;
  margin-left: 3px;
  margin-bottom: 1px;
}

.mat-item-div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.mat-item-div > mat-icon {
  color: #cccccc;
}

.icon-warning {
  color: #d03939 !important;
}


.panel-post-actions {

  display: flex;
  justify-content: space-around;
  background-color: #622947;
}

.panel-post-actions > button {
  width: 48%;
}

.panel-post-actions > div {
  width: 2px;
  background-color: #723753;
}

.form-button {
  background-color: #622947;
  color: whitesmoke;
  margin-right: 5px;
  width: 100%;
}

.panel-delete {
  width: 100%;
  background-color: rgba(208, 57, 57, 0.26) !important;
  display: flex;
  justify-content: space-evenly;
}

.button-warning {
  color: #d5d5d5 !important;
}

.button-expansion {
  color: #cccccc;
}

.image-details > img {
  margin-bottom: 5px;

}

.post-album-time {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  margin-top: 5px;
   padding-right: 10px;
  color: #b9b9b9;
}
.post-album-time>div:first-child {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.timeago {
  color: #9a6a84;
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  text-overflow: ellipsis;
  text-wrap: none;
}

.mat-mdc-chip-action-label {
  color: #b9b9b9!important;
}


mat-icon {
  color: #8f5d78;
}
.loading-image {

  text-align: center;
}
