<div class="component-bottom-sheet">


  <app-editable-text-area class="editable-text-area"

    (onImageDeleted)="deleteImg()"
    [showEmojis]="true"
    [images]="images"
    [multipleImages]="false"
    [maxImages]="1"
    (onTextChanged)="textChange($event)"
    (onImagesChanged)="getFileOnChange($event)"
  >
  </app-editable-text-area>

  <div class="actions ">
    <button (click)="createMessage()" mat-flat-button class="form-button form-button-post">
      {{messageService.languageService.getText('postar')}}
    </button>
  </div>
</div>
