<div class="component-bottom-sheet">
<textarea cdkTextareaAutosize placeholder="?!?!"
          maxlength="300" [(ngModel)]="postText"></textarea>


  <div class="actions ">
    <button mat-icon-button
            class="icon-button-mobile"
            (click)="file.click()">
      <mat-icon [ngClass]="isMobile? '': 'smaller-icon' ">image</mat-icon>

    </button>

    <div class="images-upload-grid" *ngIf="image.image64">
      <div
        [ngClass]="isMobile? 'image-grid-item-size-mobile': 'image-grid-item-size'"
        class="image-grid-item"
        [style]="'background-image:url(' + image.image64 + ')'">
        <img *ngIf="sendingPost" src="./assets/images/background-images-grid.png" width="50" alt="">
        <mat-icon *ngIf="!sendingPost" (click)="deleteImg()"
                  [ngClass]="isMobile? 'image-grid-item-delete-mobile': 'image-grid-item-delete-desktop'"
                  class="image-grid-item-delete">disabled_by_default
        </mat-icon>

      </div>
    </div>
    <button (click)="createMessage()" mat-flat-button class="form-button form-button-post">
      {{messageService.languageService.getText('postar')}}
    </button>
  </div>


</div>
<input type="file" style="display: none;"
       (change)="fileChangeEvent($event)"
       accept="image/x-png,image/gif,image/jpeg"
       #file/>
