div{
  height: 100%;
}
ul{
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  color: whitesmoke;
  margin-bottom: 25px;
}

.icon-font-mobile {
  transform: scale(1.2);
}
.ul-add {
  margin-top: 50px;
}

.logo-smaller {
  margin-top: 5px;
  height: 17px;
}

.menu-mobile-avatar-image {
  width: 30px;
  border-radius: 17.5px;
   border: solid 2px #88456b;
  margin-left: -20!important;
}

.a-avatar {
  padding-left: 5px!important;
}
a{
  display: flex;
  align-items: center;
  justify-content: center;
}
a:last-child{
  margin-top: 20px;
  padding-left: 9px!important;
}

i {
  font-size: 30px;
  margin-left: -3px;
}

mat-icon{
  color: whitesmoke;
}

mat-tooltip-component {
  margin-left: -2px!important;
}
.route{
  color: #f6b268!important;
}
.no-route{
  color: whitesmoke!important;
}
