<div class="timeline-form-mobile">
  <div class="close-div" *ngIf="isMobile">
    <span [mat-dialog-close]=""
          class=" button-close-radius">fechar</span>
  </div>
  <textarea cdkTextareaAutosize
            [(ngModel)]="postText"
            [placeholder]="postFormService.languageService.getWord('doceoutravessura')"
            maxlength="300"></textarea>

  <div class="form-actions">
    <div>
      <button [disabled]="images.length>5 || sendingPost" mat-icon-button
              class="icon-button-mobile"
              (click)="file.click()">
        <mat-icon [ngClass]="isMobile? '': 'smaller-icon' ">image</mat-icon>
      </button>
      <small> {{ 6 - images.length}}</small>
      <!--      <button  [disabled]="true" mat-icon-button class="icon-button-mobile">-->
      <!--        <mat-icon>location_on</mat-icon>-->
      <!--      </button>-->

      <span *ngIf="sendingPost" class="send-post">{{postFormService.languageService.getWord('enviando')}}...</span>
    </div>

    <div class="div-spinner">

      <span> {{ 300 - postText.length}}</span>
    </div>

  </div>


  <div class="images-upload-grid" *ngIf="images.length> 0">
<!--    <span *ngIf="images.length==0" class="upload-grid-placeholder"> Escolha algumas fotos :)</span>-->
    <div *ngFor="let img  of images; let i = index"
         [ngClass]="isMobile? 'image-grid-item-size-mobile': 'image-grid-item-size'"
         class="image-grid-item"
         [style]="'background-image:url(' + img.image64 + ')'">
      <img *ngIf="sendingPost" src="./assets/images/background-images-grid.png" width="100" alt="">
      <mat-icon *ngIf="!sendingPost" (click)="deleteImg(i)" [ngClass]="isMobile? 'image-grid-item-delete-mobile': 'image-grid-item-delete-desktop'" class="image-grid-item-delete">disabled_by_default
      </mat-icon>
      <mat-spinner class="image-grid-spinner" *ngIf="img.progress" color="accent" mode="determinate"
                   [value]="img.progress"></mat-spinner>
    </div>
  </div>

  <div *ngIf="images.length>0">
    <div   class="autocomplete-title">{{postFormService.languageService.getWord('criarouadicionaralbum')}} </div>
    <div class="form-actions-dialog">
      <div *ngIf="images.length>0" class="input-flex-autocomplete">

        <mat-form-field
          class="custom-mat-form-field mat-form-field-W100"
          appearance="fill"
          floatLabel="auto">
          <input matInput [disabled]="sendingPost" type="text"
                 placeholder="Albuns"
                 [formControl]="albumControl"
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" autoSelectActiveOption autoActiveFirstOption>
            <mat-option *ngFor="let option of albumsFiltered | async" [value]="option">
              {{ option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>

  </div>
  <button (click)="savePost()" [disabled]="sendingPost"   mat-button class="form-button form-button-post-dialog">
    {{postFormService.languageService.getWord('postar')}}
  </button>
</div>


<input type="file" style="display: none;"
       (change)="fileChangeEvent($event)" multiple
       accept="image/x-png,image/gif,image/jpeg"
       #file/>

