.icon-close {
  color: #f6f6f6;
}

.close-div {
  display: flex;
  justify-content: flex-end;

}

.timeline-form {
  margin: 10px;
  background-color: #723753;
  padding: 5px;
  border-radius: 5px;
}

.timeline-form-mobile {
  margin: 10px;
  background-color: #723753;
  padding: 5px;
  border-radius: 5px;
}


textarea {
  width: 100%;
  min-height: 27px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-width: 0;
  outline: none;
  border-radius: 4px;
  background-color: #723753;
  font-size: 16px;
  resize: none;
  color: #f6e1cd;
  overflow: hidden;
  //margin-top: 10px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9a6a84;
  opacity: 1; /* Firefox */
  //font-size: 13.5px!important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #885b70;
  //font-size: 13.5px!important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #885b70;
  //font-size: 13.5px!important;

}

.form-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  width: 100%;
  margin-bottom: 5px;
}

.form-actions > div {
  height: 30px;
  display: flex;
  align-items: center;

}

.form-button {
  background-color: #622947;
  color: whitesmoke!important;
  margin-right: 5px;
}

.icon-button {
  color: whitesmoke;
}

.icon-button-mobile {
  color: whitesmoke;
  transform: scale(1.1);

}

.form-button-post {
  width: 30%;
  color: #b7b7b7;
}

.form-actions-dialog {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.form-actions-dialog > button {

  margin-bottom: 5px;
}

.form-button-post-dialog {
  width: 100%;
}

.form-button-post-mobile {
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

mat-spinner {
  transform: scale(.4);
  //width: 0px!important;
  //background-color: #f5972d!important;
}
.smaller-icon {
  transform: scale(.8);
}
.div-spinner {
  //width: 100% !important;

  display: flex;
  align-items: center;
  justify-items: stretch;
  justify-content: flex-end;
  color: #b7b7b7;
  padding-right: 5px;
}

.images-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  //height: 100%;
  margin-top: 10px;

}

.images-upload-grid {
  max-width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  //background-color: #5e3248;
  //padding: 10px;
}

.images-upload > img {
  width: 100px;
  margin-right: 6px;
  margin-bottom: 6px;
}

.image-grid-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  margin: 4px;
  position: relative;
}
.image-grid-item-delete{
  position: absolute;
  top: 2px;
  -webkit-box-shadow: 0px -1px 18px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -1px 18px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -1px 18px -2px rgba(0, 0, 0, 0.75);
}

.image-grid-item-delete-mobile {
  left: 70px;

}
.image-grid-item-delete-desktop {
  left: 30px;
}

.image-grid-spinner {
  position: absolute;
  top: 6px;
  left: 0;

}

.image-grid-item-size-mobile {
  width: 100px;
  height: 100px;
}

.image-grid-item-size {
  width: 60px;
  height: 60px;
}

small {
  color: #b7b7b7;
}

.send-post {
  margin-left: 20px;
  color: #b7b7b7;
}

.autocomplete-albums {
  width: 100%;
  background-color: #723753;
  color: #f6e1cd;
  margin-bottom: 10px;
  border-width: 0;
  outline: none;
  padding: 5px;
  border-radius: 3px;
}

.autocomplete-title {

  color: whitesmoke;
  text-align: center;
}
.autocomplete-title-mobile {
  margin-top: 10px;
}


.input-flex-autocomplete {
  display: flex;
  flex-direction: row;
  background-color: #723753;
  width: 100%;
  padding: 3px;
  margin-bottom: 5px;
}

.input-flex-autocomplete > div:first-child {
  width: 90%;
}

.input-flex-autocomplete > div:last-child {
  width: 10%;
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-flex-autocomplete > div:last-child > mat-icon {
  color: #cccccc;
}

.upload-grid-placeholder {
  color: #b9b9b9;
}

.button-close-radius {

  border-radius: 20px;
  background-color: #915c77;

  //padding: 2px 15px;
  //padding: 0 2px 0 2px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 2px;
  padding-top: 2px;

  //margin-bottom: 3px;
  color: #d5d5d5;
}

mat-accordion {
  background-color: transparent!important;
}
mat-expansion-panel  {
  border-width: 0!important;
  background-color: transparent!important;
  margin-bottom: 0!important;
  .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: transparent!important;
  }

}
.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: transparent!important;
}


.input-search {

  height: 50px;
  width: 100%;
  border-radius: 5px;
  color: #cccccc;
  box-sizing: border-box;
  border-width: 0;
  outline: none;
  //padding: 10px;
  background-color: transparent;
  font-size: 16px;
  padding-left: 5px;
  margin-bottom: 3px;
}


.post-form-actions{
  //width: 100%;

  align-items: center;
  //margin: 5px;
}
