<ng-container *ngIf="!this.isProfile">
  <div class="timeline-form-mobile">
    <mat-accordion>
      <mat-expansion-panel [expanded]="postFormService.panelPost">
        <div class="close-div" *ngIf="isMobile">
          <small matRipple (click)="!sendingPost ?  close.emit() : null"
                 [style]="sendingPost ? 'background-color:gray' : ''"
                 class=" button-close-radius">{{postFormService.languageService.getText('fechar')}}</small>
        </div>
        <app-editable-text-area

          [text]="postText"
          [showEmojis]="true"
          [images]="images"
          (onImagePasted)="imagePasted($event)"
          (onTextChanged)="textChange($event)"
          (onFileChanged)="getFileOnChange($event)"
          (onImagesChanged)="imagesChanged($event)"
        >
        </app-editable-text-area>

<!--        <app-post-form-images-grid-->
<!--          [images]="images"-->
<!--          [sendingPost]="sendingPost"-->
<!--          [isMobile]="isMobile"></app-post-form-images-grid>-->

<!--        <div class="images-upload-grid" *ngIf="images.length> 0">-->
<!--          <div *ngFor="let img  of images; let i = index"-->
<!--               [ngClass]="isMobile? 'image-grid-item-size-mobile': 'image-grid-item-size'"-->
<!--               class="image-grid-item"-->
<!--               [style]="'background-image:url(' + img.image64 + ')'">-->
<!--            <img *ngIf="sendingPost" src="./assets/images/background-images-grid.png" width="100" alt="">-->
<!--            <mat-icon *ngIf="!sendingPost" (click)="deleteImg(i)"-->
<!--                      [ngClass]="isMobile? 'image-grid-item-delete-mobile': 'image-grid-item-delete-desktop'"-->
<!--                      class="image-grid-item-delete">disabled_by_default-->
<!--            </mat-icon>-->
<!--            <mat-spinner class="image-grid-spinner" *ngIf="img.progress" color="accent" mode="determinate"-->
<!--                         [value]="img.progress"></mat-spinner>-->
<!--          </div>-->
<!--        </div>-->







        <div *ngIf="images.length>0">
          <div class="autocomplete-title"
               [ngClass]="isMobile?'autocomplete-title-mobile': ''">{{postFormService.languageService.getText('criarouadicionaralbum')}}</div>
          <div class="form-actions-dialog">
            <div *ngIf="images.length>0" class="input-flex-autocomplete">
              <mat-form-field
                class="custom-mat-form-field mat-form-field-W100"
                appearance="fill"
                floatLabel="auto">
                <input matInput [disabled]="sendingPost" type="text"
                       [placeholder]="postFormService.languageService.getText('albuns')"
                       [formControl]="albumControl"
                       [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" autoSelectActiveOption autoActiveFirstOption>
                  <mat-option *ngFor="let option of albumsFiltered | async" [value]="option">
                    {{ option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="post-form-actions">
          <app-post-form-actions (onCancel)="cancelSearch()"
                                 (onSave)="savePost()"
                                 (onSearch)="searchUser()"
                                 [sendingPost]="sendingPost"
                                 [panelSearch]="postFormService.panelSearch"
                                 [panelPost]="postFormService.panelPost"></app-post-form-actions>
        </div>



      </mat-expansion-panel>
      <mat-expansion-panel class="" [expanded]="postFormService.panelSearch">

        <input class="input-search search-panel" matInput #textSearchElement
               type="text"
               [(ngModel)]="searchText" [placeholder]="postFormService.languageService.getText('pesquisarporusuario')">

        <div class="post-form-actions">
          <app-post-form-actions (onCancel)="cancelSearch()"
                                 (onSave)="savePost()"
                                 (onSearch)="searchUser()"
                                 [sendingPost]="sendingPost"
                                 [panelSearch]="postFormService.panelSearch"
                                 [panelPost]="postFormService.panelPost"></app-post-form-actions>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

  </div>


  <input type="file" style="display: none;"
         (change)="fileChangeEvent($event)" multiple
         accept="image/x-png,image/gif,image/jpeg"
         #file/>


</ng-container>
