.alert-component {

  display: flex;
  flex-direction: row;
  margin: 10px;
  align-items: center;
  background-color: #421b31;
  border-radius: 5px;
  padding: 7px;
  color: #cccccc;
  justify-content: space-between;
  cursor: pointer;
}

.alert-component > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.alert-avatar-div {
  width: 40px;
  margin-right: 5px;
}

.alert-avatar {
  width: 40px;
  border-radius: 20px;
  //margin-left: -10px;
}

mat-icon {
  transform: scale(.8);
}

.display-name {
  font-weight: bold;
  margin-bottom: 3px;
}

small {
  color: #818181;
}

.alert-image {
  width: 40px;
  object-fit: cover;

}

.post-image {
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.alert-text {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.alert-text-body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100% !important;

}

.div-center {
  width: 100%;
}
