<div class="post-comments">
  <div class="comment-items">
    <div class="comment-header" [ngClass]=" loggedUid == item?.uid ?'comment-header-user ': 'comment-header'  ">
      <div class="comment-user-info">
        <div class="user-avatar" *ngIf="loggedUid != item?.uid">
          <div class="comment-avatar">
            <img class="post-avatar-image" alt="image profile" [src]="item?.photoURL">
          </div>
        </div>
        <div class="comment-body"
             [ngClass]=" loggedUid == item?.uid ?' text-align-right body-margin-right background-color_alternate': 'body-margin-left background-color'  ">
          {{ item?.message}}
        </div>
        <div class="user-avatar" *ngIf="loggedUid == item?.uid">
          <div class="comment-avatar">
            <img class="post-avatar-image" alt="image profile" [src]="item?.photoURL">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
