<div class="post-header">

  <div class="user-info" [ngClass]="post?.deleted && post.uid != timelineService.auth.user?.uid ? 'disabled-post': 'timeline-post-background' ">
    <div class="post-avatar" [routerLink]="['/home/profile', post?.uid]">
      <img class="post-avatar-image" alt="image profile" [src]="post?.photoURL">
    </div>
    <div class="post-user-name" [ngClass]="isMobile? 'post-user-name-mobile': ''" [routerLink]="['/home/profile', post?.uid]">
     <span> {{post?.displayName}}</span>
      <div class="timeago">
        <small *ngIf="!isExchangeagram">
          há {{post.dateTime | timeAgo }}
        </small>
        <small *ngIf="isExchangeagram">
          {{post.dateTime | timeAgo }} ago
        </small>
      </div>
    </div>

    <div class="post-user-badges">
      <mat-icon (click)="openBottomSheet(timelineService.languageService.getText('usariopremium'), 'workspace_premium')" title="Premium user"
                class="post-badge  premium" *ngIf="index%3 == 0">workspace_premium
      </mat-icon>
      <mat-icon (click)="openBottomSheet(timelineService.languageService.getText('usarioverificado'), 'verified_user')" title="Verified user"
                class="post-badge  verified" *ngIf="index%5 == 0">verified_user
      </mat-icon>
    </div>
  </div>


  <div class="header-actions" *ngIf="!isRepost" >
    <mat-icon [matMenuTriggerFor]="beforeMenu"
              [ngClass]="loggedUId == post?.uid ? 'color-mine': ''">
      more_horiz
    </mat-icon>
    <div> &nbsp; </div>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <div *ngIf="loggedUId === post?.uid" mat-menu-item class="mat-item-div">
        <button mat-button color="whitespace" (click)="togglePostPanel()">
          <mat-icon color="whitespace" class="post-action-icon">edit_note</mat-icon>

          <span> {{timelineService.languageService.getText('editar')}}</span>
        </button>

      </div>
      <div *ngIf="loggedUId === post?.uid" mat-menu-item class="mat-item-div">
        <button mat-button color="whitespace" (click)="openDeletePanel()">
          <mat-icon class="post-action-icon">do_not_disturb_on</mat-icon>
          <span> {{timelineService.languageService.getText('deletar')}}</span>
        </button>
      </div>
      <div *ngIf="loggedUId != post?.uid" mat-menu-item class="mat-item-div">
        <mat-icon color="accent" class="post-action-icon icon-warning">warning</mat-icon>
        <span> {{timelineService.languageService.getText('denunciar')}}</span>
      </div>
    </mat-menu>


<!--    <mat-icon *ngIf="!isDetail"-->
<!--              class="post-action-icon icon-detail"-->
<!--              [routerLink]="['/home/post', post?.id, index]">-->
<!--      arrow_forward-->
<!--    </mat-icon>-->
<!-- -->
  </div>
</div>
