<div class="profile-component">
  <div class="post-avatar">
    <div class="avatar-change">
      <app-avatar [src]="profile?.photoURL" alt="image profile"
                  [avatarStyle]="'height:100px; width: 100px;border-radius: 50%; overflow: hidden'"
                  title="image profile"
      ></app-avatar>
      <i (click)="fileUp.click()" class='bx bxs-message-square-edit avatar-edit'></i>
    </div>

    <br>

    <h3 *ngIf="!isEditName" (click)="editName($event)">{{profile?.displayName}}  <i
      class='bx bxs-message-square-edit'></i></h3>
    <input *ngIf="isEditName" matInput class="input-name" [(ngModel)]="profile.displayName">

    <mat-progress-bar *ngIf="saving" mode="indeterminate"></mat-progress-bar>

    <div *ngIf="isEditName || isEditAvatar">
      <a (click)="cancelEdit()" *ngIf="profile?.uid == auth.user?.uid" mat-button color="accent">cancelar</a>
      <a (click)="save()" *ngIf="profile?.uid == auth.user?.uid" mat-button color="accent">editar</a>
    </div>


  </div>
  <h4>{{profile?.email}}</h4>
  <div class="settings" *ngIf="isMobile && profile?.uid == auth.user?.uid">
    <div>
      <i class='bx bx-cog'></i>
      {{homeService.languageService.getText('configuracoes')}}
    </div>
    <mat-slide-toggle color="primary"
                      [(ngModel)]="homeService.showUpMenu" class="slide-toggle">
      {{homeService.languageService.getText('mostrarmenusuperior')}}
    </mat-slide-toggle>
    <br>

    <mat-slide-toggle color="primary"
                      [disabled]="!homeService.showUpMenu"
                      [(ngModel)]="homeService.pinUpMenu" class="slide-toggle">
      {{homeService.languageService.getText('fixarmenusuperior')}}
    </mat-slide-toggle>

    <br>


  </div>

  <div class="activities">
    <div>
      Postagens: {{totalPosts}}
    </div>
    <div> Imagens: {{ totalImages}}</div>
    <div> Reposts: {{ totalReposts}}</div>
  </div>

  <button [disabled]="buttonDisabled" *ngIf="profile?.uid != auth.user?.uid" mat-stroked-button
          (click)="followUser(profile?.uid)">
    <mat-icon>
      {{isFollowed ? 'person_remove' : 'person_add' }}
    </mat-icon>
    {{isFollowed ? 'Deixar de seguir' : 'seguir' }}
  </button>

  <app-timeline class="app-timeline"></app-timeline>
</div>


<input type="file" style="display: none;"
       (change)="fileChangeEvent($event)"
       accept="image/x-png,image/gif,image/jpeg"
       #fileUp/>


