<div class="profile-component">
  <div class="post-avatar">
    <app-avatar [src]="profile?.photoURL" alt="image profile" title="image profile"
                avatarClass="post-avatar-image"></app-avatar>


    <!--    <img class="post-avatar-image" alt="image profile" [src]="profile?.photoURL">-->
    <h3>{{profile?.displayName}}</h3>
  </div>
  <h3>{{profile?.email}}</h3>
  <div class="settings" *ngIf="profile?.uid == auth.user?.uid">

    <div>
      <i class='bx bx-cog'></i>
      {{homeService.languageService.getText('configuracoes')}}
    </div>
    <mat-slide-toggle color="primary"
                      [(ngModel)]="homeService.showUpMenu" class="slide-toggle">
      {{homeService.languageService.getText('mostrarmenusuperior')}}
    </mat-slide-toggle>
    <br>

    <mat-slide-toggle color="primary"
                      [disabled]="!homeService.showUpMenu"
                      [(ngModel)]="homeService.pinUpMenu" class="slide-toggle">
      {{homeService.languageService.getText('fixarmenusuperior')}}
    </mat-slide-toggle>

    <br>


  </div>

  <div class="activities">
    <div>
      Postagens: {{totalPosts}}
    </div>
    <div> Imagens: {{ totalImages}}</div>
    <div> Reposts: {{ totalReposts}}</div>
  </div>

  <button [disabled]="buttonDisabled" *ngIf="profile?.uid != auth.user?.uid" mat-stroked-button
          (click)="followUser(profile?.uid)">
    <mat-icon>
      {{isFollowed ? 'person_remove' : 'person_add' }}
    </mat-icon>
    {{isFollowed ? 'Deixar de seguir' : 'seguir' }}
  </button>

  <app-timeline class="app-timeline"></app-timeline>
</div>



