.profile-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
  margin-top: 40px;
}

.post-avatar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  flex-direction: column;
}



.activities {
  display: flex;
  justify-content: space-evenly;
}

.activities > div {
  margin: 5px;
}

button {
  margin-top: 10px;
  width: auto;
  border-color: #6b4155 !important;
  background-color: #6b4155;
}

.settings {
  margin: 10px;
  text-align: center;
  margin-bottom: 20px;

}
.slide-toggle {
  margin: 10px;
}
.mdc-form-field>label {
  color: antiquewhite!important;}

  .mat-mdc-slide-toggle {
    .mdc-form-field>label {
      color: antiquewhite!important;}


  }

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: transparent!important;
}
