.group {
  background-color: #622947;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
}

.group-info {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  padding: 5px;
  width: 100%;
}

.group-info > div:first-child {
  width: 100%;
  color: #f6b268;
  font-weight: bold;
}

.group-info > div {
  width: 100%;

}

.group-info > div:last-child {
  width: 100%;
}

small {
  display: flex;
  align-items: center;
  width: 100%;
}

.icon-list {
  transform: scale(.6);
}
