@import "../styles/buttons";
@import "../styles/errors";

.avatar-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  margin-bottom: 10px;
}
.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  border-radius: 35px;
}
.border-normal {
  border: solid 1px #ccc;
}

.border-error {
  border: solid 3px #9a2929;
}
a{
  color: whitesmoke;
}

.login-mat-progress-bar {
  margin-top: 5px;
}
