<form #formDirective="ngForm"
      class="login-form"
      [formGroup]="form"
      (ngSubmit)="submit(formDirective)">

  <div class="avatar-content">
    <div class="avatar"
         [ngClass]="submitted && img64.trim().length == 0? 'border-error' : 'border-normal'"
         (click)="file.click()" matRipple
         [matRippleCentered]="true" [style]="avatarStyle">
    </div>
    <a (click)="file.click()">
      {{loginService.languageService.getText('fotodeperfil')}}
    </a>
    <small class="  error" *ngIf="submitted && img64.trim().length == 0">
      <i class='bx bx-face'></i>    {{loginService.languageService.getText('quemsabeumafoto')}}
    </small>
  </div>

  <mat-form-field
    class="custom-mat-form-field mat-form-field-W100"
    floatLabel="auto">
    <input matInput
           class="login-input"
           [placeholder]="loginService.languageService.getText('nome')"
           type="text"
           formControlName="name"
           required>
    <mat-error class="error">
      <i class='bx bxs-cat'></i> Qual seu nome?
    </mat-error>
  </mat-form-field>

  <mat-form-field
    class="custom-mat-form-field mat-form-field-W100"
    floatLabel="auto">
    <input matInput
           class="login-input"
           placeholder="email"
           formControlName="email"
           type="text" required>
    <mat-error class="error" *ngIf="submitted && email?.value?.trim().length ==0">
      <i class='bx bx-envelope'></i> {{loginService.languageService.getText('qualseuemail')}}
    </mat-error>
    <mat-error class="error" *ngIf="submitted &&  email?.value?.trim().length > 0 && email?.getError('email')">
      <i class='bx bx-envelope'></i> {{loginService.languageService.getText('digitoualgoerrado')}}


    </mat-error>
  </mat-form-field>

  <mat-form-field
    class="custom-mat-form-field mat-form-field-W100"
    floatLabel="auto">
    <input matInput
           name="new-password"
           class="login-input"
           [placeholder]="loginService.languageService.getText('senha')"
           #password1
           formControlName="password"
           type="password" required>
    <mat-error class="error" *ngIf="password?.getError('minlength')">
      <i class='bx bxs-key'></i> {{loginService.languageService.getText('senha5caracteres')}}
    </mat-error>
    <mat-error class="error" *ngIf="submitted && !password?.getError('minlength')">
      <i class='bx bxs-key'></i> {{loginService.languageService.getText('todocadastrosenha')}}
    </mat-error>
  </mat-form-field>
  <mat-form-field
    class="custom-mat-form-field mat-form-field-W100"
    floatLabel="auto">
    <input matInput
           [appCompareTo]="password1"
           name="retype-password"
           class="login-input"
           [placeholder]="loginService.languageService.getText('repetirsenha')"
           formControlName="retypePassword"
           type="password" required>

    <mat-error class="error" *ngIf=" !retypePassword?.getError('compareTo')">
      <i class='bx bxs-key'></i>  {{loginService.languageService.getText('poderepetirporfavor')}}
    </mat-error>
    <mat-error class="error" *ngIf="retypePassword?.value?.length > 0 && retypePassword?.getError('compareTo')">
      <i class='bx bxs-key'></i>  {{loginService.languageService.getText('algonaoconfere')}}
    </mat-error>
  </mat-form-field>

  <button class="login-button" type="submit" matRipple>
    {{loginService.languageService.getText('registrar')}}

  </button>
  <mat-progress-bar class="login-mat-progress-bar"
                    [mode]="progressMode"
                    color="accent"
                    [style]=" submitted && form.valid && img64  ? 'opacity:1' :  'opacity:0'"
                    [value]="progress">

  </mat-progress-bar>
  <small *ngIf="hintMessage.trim().length>0">  {{hintMessage}} </small>
</form>


<input type="file" style="display: none;" (change)="fileChangeEvent($event)" accept="image/x-png,image/gif,image/jpeg"
       #file/>
