/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "styles/mat-dialog";
@import "styles/mat-form-fied";
@import "styles/mat-sidenav";
@import "styles/mat-button";


:root {
  touch-action: pan-x pan-y;
  height: 100%
}

body {

}
//
//body::-webkit-scrollbar {
//  scrollbar-base-color: #481a34;
//  scrollbar-color: #481a34;
//  //display: none; /* for Chrome, Safari, and Opera */
//}


body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: transparent ;     /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #9a6a84;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid   #481a34;//* creates padding around scroll thumb */
}


html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
   background-color: #481a34;
  scroll-behavior: auto !important;
  color: #818181;
}

body {

  font-family: Roboto, "Helvetica Neue", sans-serif;
}


//@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {

  //html {
  //  transform: rotate(-90deg);
  //  transform-origin: left top;
  //  width: 100vh;
  //  overflow-x: hidden;
  //  position: absolute;
  //  top: 100%;
  //  left: 0;
  //}
//}


.mat-tab-header {
  mat-tab-header {
    display: none !important;
  }
  .mat-mdc-tab-label-container {
    display: none!important;
  }
  .mat-mdc-tab-labels {
    display: none!important;
  }
}

mat-tab-group {
  //background-color: #481a34!important;
}


.mat-mdc-tab-body {
  //background-color: #481a34!important;
}



.bottom-sheet-class .mat-bottom-sheet-container {
  background-color: transparent!important;
  color: #cccccc!important;
  max-width: 600px!important;
  width: 600px!important;
  min-width: unset;
}





.bg-color .mat-dialog-container .mat-mdc-dialog-container {
  background-color: #481a34!important;
}
//.mat-mdc-dialog-container {
//  background-color: #481a34!important;
//}
.mdc-dialog__surface {
  background-color: #481a34!important;
}

.bg-color .mat-mdc-dialog-container {
  background-color: #481a34!important;
}



.no-padding .mat-dialog-container {
  padding: 0 !important;
}
.mat-mdc-tab-label-container {
  display: none!important;
}


.mat-mdc-menu-panel {
  background-color: #481a34;
  color: whitesmoke;
}
.mat-mdc-menu-item > span{
  color: whitesmoke!important;
  font-size: 12px!important;
}
.mat-mdc-menu-item > span:last-child{
  color: #f6b268;
}


.button-action {
  .mat-mdc-button-touch-target {
    height: 30px !important;
  }

}

.mat-mdc-chip-action-label {
  color: #b9b9b9!important;
}
mat-expansion-panel {
  .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: transparent !important;
  }
}
