/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "styles/mat-dialog";
@import "styles/mat-form-fied";




:root {
  touch-action: pan-x pan-y;
  height: 100%
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #481a34;
  scroll-behavior: auto !important;
  color: #818181;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-tab-header {
  mat-tab-header {
    display: none !important;
  }
}
