.icon-font-mobile-add, .icon-font-mobile-top,
.icon-font-mobile-home, .icon-font-mobile-actions,
.icon-font-mobile-actions-search,.icon-font-mobile-actions-following {
  position: fixed;
  right: 24px;
  background-color: #f5972d;
  -webkit-box-shadow: 10px 10px 14px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 14px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 14px -1px rgba(0, 0, 0, 0.75);
  z-index: 1000;
  color: #523d23;
}
 $height: 40px;
 $scale_actions: 1;
 $scale_add:1.2;
.icon-font-mobile-top {
  bottom:  calc(130px + $height);
  transform: scale($scale_actions);
  background-color: #837eb4;
}

.icon-font-mobile-home {
  bottom: calc(83px + $height);
  transform: scale($scale_actions);
  background-color: #b9b9b9;
}
.bx-world {
  font-size: 27px!important;
  margin-top: 3px;
}

.icon-font-mobile-add {
  bottom: calc(32px + $height);
  transform: scale($scale_add);
  background-color: #f5972d;
}

.icon-font-mobile-actions {
  bottom: 20px;
  transform: scale($scale_actions);
  background-color: #b9b9b9;
}
.icon-font-mobile-actions-search {
  //opacity: 0;
  right: 70px!important;
  bottom: 20px;
  transform: scale($scale_actions);
  background-color: #837eb4;
}
.icon-font-mobile-actions-following {
  //opacity: 0;
  right: 120px!important;
  bottom: 20px;
  transform: scale($scale_actions);
  background-color: #837eb4;
}
