.container {

}

.floating-toggle {
  display: flex;
  align-items: center;
  color: whitesmoke;
  position: fixed;
  top: 13px;
  left: 9px;
  z-index: 100;
  border-radius: 5px;
  background-color: rgba(72, 26, 52, 0.55);
}

mat-nav-list {
  padding-top: 0 !important;
}

.sidenav-container {
  flex: 1 0 auto;
  top: 0;
  left: 0;
}

.no-mobile {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-mobile > div {
  color: #cccccc;
  font-size: 20px;
}

.home-content {
  max-width: 600px;
}

.desktop-content {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  width: 100%;
  justify-content: center;
}

.menu-desktop {
  position: relative;
  min-height: 100%;
  width: 33%;
  display: flex;
  justify-content: right;
}

.content-desktop {
  width: 33%;
  min-width: 500px;
  max-width: 600px;
  background-color: #41162e;
}

.content-right {
  min-height: 100%;

  width: 33%;
}

app-home-menu-desktop {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.last-alerts {
  background-color: #421b31;
  border-radius: 10px;
  max-width: 300px;
  margin: 3px;
}
