<div class="" *ngIf="isMobile">
  <app-home-header-mobile></app-home-header-mobile>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav [mode]="'side'"
                 [opened]="sideNavOpened"
                 [fixedInViewport]="true" [fixedTopGap]="37">
        <app-home-menu-mobile></app-home-menu-mobile>

    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<div *ngIf="!isMobile" class="no-mobile">
  <div>
      Por favor, use em seu smartphone.
  </div>
</div>
