.container {
  //height: 100%;
  //width: 100%;
  //display: flex;
  //flex-direction: column;
  //align-items: center;
  //position: absolute;
  //top: 0;
  //bottom: 0;
  //left: 0;
  //right: 0;
}
//.example-toolbar {
//  position: fixed;
//  z-index: 2;
//}

mat-nav-list{
  padding-top: 0!important;
}

app-home-header-mobile {
  //width: 100%;
}

//
//.example-sidenav-container {
//  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
//     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
//  flex: 1;
//}

 .sidenav-container {
   flex: 1 0 auto;
   //position: fixed;
   top: 0;
   left: 0;
   //height: 100%;
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
}

