.login-input {
  background-color: #d797bb;
  color: whitesmoke;
  width: 100%;
  box-sizing: border-box;
  border-width: 0;
  outline: none;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}
