<div class="menu-component">
  <div class="menu-desktop">
    <div>
      <ul>
        <li [routerLink]="'/home'">
          <div class="menu-logo">
            <img alt="logo" *ngIf="isDesktop && !isSmaller900 && !isExchangeagram"
                 src="./assets/images/compartilhagram-logo.png">
            <img alt="logo" *ngIf="isDesktop && !isSmaller900 && isExchangeagram"
                 src="./assets/images/exchangeagram-logo.png">
            <img class="second-logo" *ngIf="isSmaller900 && !isExchangeagram"
                 alt=".." src="./assets/images/compartilhagram-menor.png">
            <img class="second-logo" *ngIf="isSmaller900 && isExchangeagram"
                 alt=".." src="./assets/images/exchangeagram-logo-menor.png">
          </div>
        </li>
        <li [routerLink]="'/home'">

          <span *ngIf="!isMiddleSize"> Feed</span>
          <i class='bx bx-world' [ngClass]=" isMiddleSize ? 'i-middle': ''"></i>


          <!--          <mat-icon [ngClass]="isMiddleSize? 'icon-middle': ''" >home-->
          <!--          </mat-icon>-->
        </li>
        <li [routerLink]="'/home/following'">
          <span *ngIf="!isMiddleSize"> {{languageService.getText('seguindo')}}</span>
          <i class='bx bx-run' [ngClass]=" isMiddleSize ? 'i-middle': ''"></i>
        </li>
        <li [routerLink]="'alerts'">
          <span *ngIf="!isMiddleSize">{{languageService.getText('notificacoes')}}</span>
          <i class='bx bxs-bell'
             [ngClass]="alertsService.totalAlerts>0  && isMiddleSize ? 'bx-tada i-middle': alertsService.totalAlerts>0  && !isMiddleSize ? 'bx-tada': isMiddleSize? 'i-middle' : ''"> </i>
        </li>
        <li [routerLink]="['messages']">
          <span *ngIf="!isMiddleSize">{{languageService.getText('mensagens')}}</span>
          <mat-icon [ngClass]="isMiddleSize? 'icon-middle': ''">mail_outlined
          </mat-icon>
        </li>
        <li [routerLink]="['groups']">
          <span *ngIf="!isMiddleSize">{{languageService.getText('grupos')}}</span>
          <mat-icon [ngClass]="isMiddleSize? 'icon-middle': ''">group_outlined
          </mat-icon>
        </li>

        <li [routerLink]="['saved']">
          <span *ngIf="!isMiddleSize">{{languageService.getText('itenssalvos')}}</span>
          <mat-icon [ngClass]="isMiddleSize? 'icon-middle': ''">bookmarks_outlined
          </mat-icon>

        </li>
        <li [routerLink]="['photos']">
          <span *ngIf="!isMiddleSize">{{languageService.getText('minhasfotos')}}</span>
          <mat-icon [ngClass]="isMiddleSize? 'icon-middle': ''">photo_library
          </mat-icon>

        </li>

        <li (click)="logOut()">
          <span *ngIf="!isMiddleSize">{{languageService.getText('logout')}}</span>
          <mat-icon [ngClass]="isMiddleSize? 'icon-middle': ''">logout
          </mat-icon>

        </li>

        <li [routerLink]="['profile', user?.uid]">

          <img class="menu-avatar-image" *ngIf="user?.photoURL"
               [src]="user?.photoURL"
               alt="image profile">
        </li>

      </ul>
    </div>
  </div>

</div>
