<div class="component">
  <div>
    <mat-dialog-content>
      <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 4"
                     format="jpeg" (imageCropped)="imageCropped($event)" (cropperReady)="cropperReady()"
                     [imageQuality]="50"
                     (loadImageFailed)="loadImageFailed()">
      </image-cropper>
    </mat-dialog-content>
    <div class="actions">
      <button  class="login-button" (click)="cancelClose()">cancelar
      </button>

      <button  class="login-button" (click)="okClose()">Selecionar
      </button>
    </div>
  </div>


</div>
